.equalHeightColumns.row{
    overflow: hidden; 
}

.equalHeightColumns [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.zerif-copyright-box {
  display: none;
}

/*********************************************************
********************Focus section*************************
**********************************************************/

/* Center the image of the second focus icon */
.focus .row .focus-box:nth-of-type(2) .pixeden {
  margin-left: 5px;
  margin-bottom: 7px;
}

/* Center the image of the third focus icon */
.focus .row .focus-box:nth-of-type(3) .pixeden {
  margin-top: 4px;
  margin-right: 3px;
}

/* Remove background color of focus text on hover */
.ctUp-ads:nth-child(4n+1) .red-border-bottom:before, .focus-box:nth-child(4n+1) h5.red-border-bottom:hover {
	background: inherit;
}
.ctUp-ads:nth-child(4n+2) .red-border-bottom:before, .focus-box:nth-child(4n+2) h5.red-border-bottom:hover {
	background: inherit;
}
.ctUp-ads:nth-child(4n+3) .red-border-bottom:before, .focus-box:nth-child(4n+3) h5.red-border-bottom:hover{
	background: inherit;
}
.ctUp-ads:nth-child(4n+4) .red-border-bottom:before, .focus-box:nth-child(4n+4) h5.red-border-bottom:hover {
	background: inherit;
}

/*********************************************************
********************Our clients section*******************
**********************************************************/
#ourClientsContentRow p {
 display: none; 
}

#ourClientsHeaderRow {
  margin-bottom: 80px;
}

.ourClients {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(0,0,0,0.5)
}

.clientsItemInnerWrapper {
  padding: 20px 5px;
  min-height: 200px;
}

.clientsItem a {
  color: inherit;
  font-weight: bold;
}

.clientsItem a:hover {
  text-decoration: underline;
}

#ourClientsContentRow div:nth-child(1):hover i, #ourClientsContentRow div:nth-child(1):hover .readMoreLink {
  transition: all 0.2s ease-in-out;
  color: #e96656;
}

#ourClientsContentRow div:nth-child(2):hover i, #ourClientsContentRow div:nth-child(2):hover .readMoreLink {
  transition: all 0.2s ease-in-out;
  color: #34d293;
}

#ourClientsContentRow div:nth-child(3):hover i, #ourClientsContentRow div:nth-child(3):hover .readMoreLink {
  transition: all 0.2s ease-in-out;
  color: #3ab0e2;
}

#ourClientsContentRow div:nth-child(4):hover i, #ourClientsContentRow div:nth-child(4):hover .readMoreLink {
  transition: all 0.2s ease-in-out;
  color: #e7ac44;
}

#ourClientsContentRow [class*="col-"] {
    background-color: #f6f6f6;
    /* This is a trick to make a separation between the columns without using margin (which breaks the layout) */
    border: 10px solid transparent;
    background-clip: padding-box;
}

/* On small screen create separation between stacked columns */
@media (max-width: 767px) {
  #ourClientsContentRow [class*="col-"] {
    background-clip: content-box;
  }  
}

.clientsItem { 
  cursor: pointer; 
}

/*********************************************************
********************Testimonials section******************
**********************************************************/

.feedback-box .client-info .client-name {
  font-family: inherit;
}

.feedback-box .client-image {
  border-radius: inherit;
  float: none;
  margin: 0 auto;
}

.feedback-box .client-info {
  display: none;
}